@page
@{
    ViewData["Title"] = "Access Denied";
}

<div class="container" style="text-align: center; color: #888; margin-top: 100px;">
    <h1 style="font-size: 150px; color: #dc3545; margin-bottom: 0px;">403</h1>
    <p style="font-size: 50px;">Access Denied</p>
    <p>You do not have permission to access this resource.</p>
    <p>Please navigate back to <a asp-page="/Index">Home Page</a> or <a asp-page="/Login">Login</a></p>
</div>